//::-webkit-scrollbar{width: 0;}
//@supports (scrollbar-color: red blue){* {scrollbar-width: none;}}

:root{
    --fs-xl: clamp(2.25rem, 2.15rem + 0.5vw, 2.75rem);
    --fs-l: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
    --fs-m: clamp(0.75rem, 0.6rem + 0.75vw, 1.5rem);
    --fs-s: clamp(0.5rem, 0.35rem + 0.75vw, 1.25rem);
    --fs-xs: clamp(0.5rem, 0.4rem + 0.5vw, 1rem);}

body {
    margin: 0;
    font-family: 'Press Start 2P';
    color: white;
    overflow-x: hidden;
    background-color: #000;
}

.containers {
    background: #001122;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;   
}

.pages {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    position: relative;
    &:nth-child(3) {
        align-items: center;
        justify-content: center;
    }
}

.bio {
    margin-left: clamp(0rem, -3.6rem + 18vw, 18rem);
    margin-right: clamp(0rem, -3.6rem + 18vw, 18rem);
    display:block;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 130, 200, 0.5);
    padding: clamp(1rem, 0.2rem + 4vw, 5rem);
    font-size: var(--fs-s);
    line-height: 1.5;
    p{
        margin: 0;
    }
}

.gridLayout {
    height: 75vh;
    width: 55vw;
    gap: 5vh;
    display: grid;
    grid-template-rows: 15% 85%;
}

.card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.day {
    background-color: transparent;
    font-size: var(--fs-m);
    margin: 0;

    span {
        color: #d2691e;
    }

    p {
        margin: 0;
    }
}

.contact {
    background-image: url('./blob-haikei.svg');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1rem;
    padding-left: clamp(1rem, -0.8rem + 9vw, 10rem);
    padding-right: clamp(1rem, -0.8rem + 9vw, 10rem);
    display: inline-block;
    background-size: cover;
}

.name {
    margin-top: 5vh;
    margin-left: 3vw;

    p{
        margin: 0;
    }

    a:hover {
        color: white;
    }
}

.cd {
    font-size: var(--fs-l);
    font-style: italic;
}


.kr {
    color: #d2691e;
}

.cursor {
    font-size: var(--fs-xl);
}

.cursor::after {
    content: '|';
    animation: blink 1s step-start infinite;

}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.waves {
    aspect-ratio: 19/6;
    width: 100vw;
    background-image: url('./bg-waves.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.flip {
    background-image: url('./bg-waves-fliped.svg');
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 750px) {

    .bio {
        width: 100vw;
    }
}
@media only screen and (max-width: 1700px) {
    .gridLayout {
        grid-template-rows: 25% 75%;
        width: 100vw;
        gap: 0;
    }
}


a {
    text-decoration: none !important;
}