@import '../node_modules/mdb-ui-kit/css/mdb.min.css';


body {
    margin: 0;
    font-family: 'Press Start 2P';
    color: white;
    overflow-x: hidden;
    height: 100vh;
}

.containers {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type:y proximity;
}

.pages {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;

    &:nth-child(1) {
        background: linear-gradient(#001122, #001128);
    }

    &:nth-child(2) {
        background: linear-gradient(#001128, #001132);
        /*align-items: center;
        justify-content: center;*/
    }

    &:nth-child(3) {
        background: linear-gradient(#001132, #001139);
        align-items: center;
        justify-content: center;
    }
}

.bio {
    height: 70vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 130, 200, 0.5);
    transform: rotate(180deg);
}

.gridLayout {
    height: 70vh;
    width: 60vw;
    gap: 5vh;
    display: grid;
    grid-template-rows: 30% 70%;

}

.card {
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-child(1) {
        background-color: transparent;
        font-size:20pt;
        margin: 0;
        padding: 0;
    }

    &:nth-child(2) {
        background-color: chocolate;
    }
}

.name {
    margin-top: 5vh;
    margin-left: 3vw;

    p {
        margin: 0;
        font-size: 30pt;
    }

    .cd{
        font-size: 20pt;
    }

    /*.kr {
        background-color: white;
        color: #001122;
    }*/
}

.waves {
    aspect-ratio: 1920/1080;
    width: 100%;
    background-image: url('./bg-waves.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .flip {
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }