body {
    margin: 0;
    font-family: 'Press Start 2P';
    color: white;
    overflow-x: hidden;
    height: 100vh;
}

.containers {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

.pages {
    height: 100vh;
    scroll-snap-align: center;
    display: flex;

    &:nth-child(1) {
        background: linear-gradient(#001122, #001128);
    }

    &:nth-child(2) {
        background: linear-gradient(#001128, #001132);


    }

    &:nth-child(3) {
        background: linear-gradient(#001132, #001139);
        align-items: center;
        justify-content: center;
    }
}

.bio {
    height: 75vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 130, 200, 0.5);
}

.gridLayout {
    height: 75vh;
    width: 60vw;
    gap: 5vh;
    display: grid;
    grid-template-rows: 10% 90%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    background-color: transparent;
    font-size: 25pt;
    margin: 0;

    span {
        color: #d2691e;
    }

    p {
        margin: 0;
    }
}

.contact {
    background-color: chocolate;
}

.name {
    margin-top: 5vh;
    margin-left: 3vw;

    p {
        margin: 0;
    }

    a:hover {
        color: white;
    }
}

.cd {
    font-size: 20pt;
    font-style: italic;
}
.cdin1 {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1500ms ease 2s forwards;
}
.cdin2 {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1500ms ease 2500ms forwards;
}

.kr {
    color: #d2691e;
}

.cursor{
    font-size: 30pt;
}

.cursor::after {
    content: '|';
    animation: blink 1s step-start infinite;

}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.waves {
    aspect-ratio: 19/6;
    width: 100vw;
    background-image: url('./bg-waves.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
}

.flip {
    background-image: url('./bg-waves-fliped.svg');
    align-items: center;
    justify-content: center;
}

@media only screen and (hover: none) and (pointer: coarse) {
    .gridLayout{
        width: 100vw;
    }
    .bio{
        width: 100vw;
    }
    .cursor{
        font-size: 22pt;
    }
    .cd{
        font-size: 16pt;
    }
    .day{
        font-size: 14pt;
    }
}

a {
    text-decoration: none !important;
  }